<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
</head>

<body>
	<% if (typeof errors !='undefined' ) { %>
		<% errors.forEach(function (error){ %>
			<div class="alert alert-warning alert-dismissible" role="alert">
				<%= error.msg %>
			</div>
			<% }); %>
				<% } %>
					<form class="w-50 p-3" style="margin: auto" method="post">
						<div class="form-group form-check">
							<label class="label">Username</label>
							<div class="control">
								<input class="form-control" name="username" type="text" placeholder="Type your username....">
							</div>
						</div>
						<div class="form-group form-check">
							<label class="label">Password</label>
							<div class="control">
								<input class="form-control" name="password" type="password"
									placeholder="At least 6 characters">
							</div>
						</div>
						<div class="form-group form-check d-flex align-items-center">
							<div class="control">
								<button class="button is-link btn btn-primary mr-3">Register</button>
							</div>
							<p>Login if you have an account</p>
							<div>
								<button href="/user/login" class="btn btn-primary ml-3">Login</button>
							</div>
						</div>
					</form>

					<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>